In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('Glass Identification.csv')

In [32]:
df.head()

   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
1  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
2  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
3  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
4  6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [33]:
df.shape

(213, 11)

In [36]:
headers = pd.Series(['Id','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type_of_glass'])

In [37]:
df.columns = headers

In [38]:
df.head()

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type_of_glass
0   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00              1
1   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00              1
2   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00              1
3   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00              1
4   6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26              1

In [44]:
X = df.drop(['Type_of_glass'], axis=1)
y = df['Type_of_glass']

# LogisticRegression

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
logistic = LogisticRegression()

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [48]:
logistic.fit(X_train,y_train)
y_pred = logistic.predict(X_test)

/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [49]:
y_pred

array([1, 7, 1, 7, 2, 2, 1, 2, 2, 3, 6, 5, 2, 2, 6, 5, 7, 1, 1, 7, 2, 7,
       7, 7, 3, 2, 1, 1, 6, 1, 1, 2, 3, 2, 2, 7, 5, 3, 2, 2, 2, 7, 1])

In [52]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        10
           2       1.00      0.93      0.97        15
           3       0.75      1.00      0.86         3
           5       1.00      1.00      1.00         3
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         9

    accuracy                           0.98        43
   macro avg       0.96      0.99      0.97        43
weighted avg       0.98      0.98      0.98        43

# KNeighborsClassifier

In [57]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn.fit(X_train, y_train)
knn_pred = knn.predict(X_test)

In [58]:
print(classification_report(y_test,knn_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        10
           2       1.00      0.93      0.97        15
           3       0.75      1.00      0.86         3
           5       0.75      1.00      0.86         3
           6       1.00      0.67      0.80         3
           7       1.00      1.00      1.00         9

    accuracy                           0.95        43
   macro avg       0.92      0.93      0.91        43
weighted avg       0.97      0.95      0.95        43

# RandomForestClassifier

In [59]:
from sklearn.ensemble import RandomForestClassifier

random=RandomForestClassifier()
random.fit(X_train,y_train)
random_pred=random.predict(X_test)

In [61]:
print(classification_report(y_test,random_pred))

              precision    recall  f1-score   support

           1       0.91      1.00      0.95        10
           2       0.93      0.93      0.93        15
           3       1.00      1.00      1.00         3
           5       1.00      1.00      1.00         3
           6       1.00      1.00      1.00         3
           7       1.00      0.89      0.94         9

    accuracy                           0.95        43
   macro avg       0.97      0.97      0.97        43
weighted avg       0.96      0.95      0.95        43